.artboard {

    &_header {
        height: 64px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &--nav {
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-start;
            .closeButton {
                height: 64px;
                width: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .nav {
                flex-direction: row;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .breadcrumbs {
                flex-direction: row;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .navIcon {
                padding: 0.5rem;
            }
        }

        &--name {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }
    }

    &_container {
        height: calc(100vh - 128px);
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_image {
        max-height: 100%;
    }
}